<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="https://kanka.io/en/campaign/96489"><em>Three Sisters<em></a> is 
  a homebrew tabletop setting. Aamidal is the name of the greater region of space
  of which the Sisters are a part of.
</p>