<div id="<%= dom_id sector %>">
  <p>
    <strong>Name:</strong>
    <%= sector.name %>
  </p>

  <p>
    <strong>Data:</strong>
    <% sector.data.split("\n").each do |hex| %>
      <p> <%= hex %> </p>
    <% end %>
  </p>
</div>
