<div class="wrapper">
  <div class="data">
    <%= render "form", sector: @sector %>
    <%= link_to "Back to sectors", sectors_path %>
  </div>
  <div class="map">
    <img src="<%= @svg %>" alt="A sector map"/>
  </div>
</div>

