:root {
  --border-btn: 1px solid rgb(36, 36, 36);
  --color-base-bg: rgb(240, 240, 240);
  --color-base-text: rgb(18, 18, 18);
  --color-btn-bg: rgb(220, 220, 220);
  --theme-name: "light";
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-btn: 1px solid rgb(220, 220, 220);
    --color-base-bg: rgb(18, 18, 18);
    --color-base-text: rgb(240, 240, 240);
    --color-btn-bg: rgb(36, 36, 36);
    --theme-name: "dark";
  }
}

body {
  background-color: var(--color-base-bg);
  color: var(--color-base-text);
  padding: 10px;
}

p {
  font-size: 1.5rem;
}

.theme-name::after {
  content: var(--theme-name);
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  color: hotpink;
}

textarea {
  width: 25vw;
  height: 80vh;
}

.data {
  width: 40vw;
  height:80vh;
  margin-left: 3vw;
}

.map {
  margin-top: 2vh;
  margin-right: 3vw;
  width: 60vw;
  height: 90vh;
  overflow:scroll;
}

/* SECTOR MAP */

/* FOOTER */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}